<%- include ../partials/header %>
<header class="bg-info text-white">
    <div class="container text-center">
        <h1><img src="/images/logo.png" alt="Minhas Séries" /></h1>
        <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Séries</h2>
                <p class="lead">Todas as séries cadastradas<a href="/nova" class="btn btn-info nova-serie">Nova Série</a></p>
                <table class="table table-hover">
                    <tr>
                        <th>Nome da série</th>
                        <th>Situação</th>
                        <th>Ação</th>
                    </tr>
                    <% results.data.forEach(serie=>{%>
                        <tr>
                            <td><a href="/info/<%= serie.id %>"><%= serie.name %></a></td>
                            <td>
                                <% if(serie.status == 'to-watch') { %>
                                    <span class="badge badge-secondary">Para assistir</span>
                                <% } else if(serie.status == 'watching') { %>
                                    <span class="badge badge-secondary">Assistindo</span>
                                <% } else if(serie.status == 'watched') { %>
                                    <span class="badge badge-secondary">Assistido</span>
                                <% } %>
                            </td>
                            <td> <div class="btn-group" role="group" aria-label="First group"><a class="btn btn-info" href="/editar/<%= serie.id %>">Editar</a>
                            <a class="btn btn-danger" href="/excluir/<%= serie.id %>">Excluir</a></div></td>
                        </tr>
                    <% })%>
                </table>

                <nav aria-label="...">
                    <ul class="pagination">
                        <!--ou seja quando for a pagina 0, isso não aparece, quando estiver nas próximas ele aparece-->
                        <% if(results.pagination.currentPage>0){ %>
                            <li class="page-item">
                                <a class="page-link" href="/?page=<%= results.pagination.currentPage-1 %>&pageSize=<%= results.pagination.pageSize %>" tabindex="-1">Anterior</a>
                            </li>
                        <% } %>
                        <% for(let i=0; i<results.pagination.pages;i++){ %>
                            <li class="page-item <% if(i == results.pagination.currentPage){%>active<% } %>">
                                <a class="page-link" href="/?page=<%= i %>&pageSize=<%= results.pagination.pageSize %>"><%= i+1 %></a>
                            </li>
                        <% } %>
                        <!--quando chegar no nosso limite de paginas - 1 , isso não aparece-->
                        <!--temos 4 pages, q-->
                        <% if(results.pagination.currentPage<results.pagination.pages-1){ %>
                            <li class="page-item">
                                <a class="page-link" href="/?page=<%= results.pagination.currentPage+1 %>&pageSize=<%= results.pagination.pageSize %>">Próximo</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<%- include ../partials/footer %>